<launch>
    

    <!-- nodes -->
    <node pkg="fix_aloam" type="main_test" name="main_test" output="screen" />
        <param name="data_dir" type="string" value="/home/ohdonghoon/LidarData/201014_skt_lobby_day_lidar/" />
        <param name="result_dir" type="string" value="/home/ohdonghoon/LidarData/201014_skt_lobby_day_lidar/result/aloam_mapping_pose.txt" />
    
    
    <!-- visulaization -->
    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fix_aloam)/rviz/aloam.rviz" />
    </group>

</launch>


